misc/.venv
# API keys
api_keys.txt
# CHTC files
*.out
*.err
*.log
# PDB file formats
*.cif
*.pdb
*.pyc
*.cif
#pytorch
*.ckpt
*.bin
*.pt
*.pth
__pycache__
lib/__pycache__
scripts/residue_model_InitDynamicsEmbedding_propagate_*
scripts/torch_geometric.nn.conv.*
scripts/invariant_features_sheaf_model_InitDynamicsEmbedding_propagate_*
comparisons/gvp-pytorch/gvp-pytorch.tar.gz
comparisons/scFold/ScFold.tar.gz
comparisons/DynamicMPNN/DynamicMPNN.tar.gz
comparisons/MapDiff/MapDiff.tar.gz
*.yaml
dynamicmpnn.modules.layers.*
**/outputs/
*.json
evaluation/af3_pullback_workflow_v2/*.tar.gz
evaluation/af3_pullback_workflow_v2/*__target
evaluation/af3_pullback_workflow_v2/*.csv
evaluation/af3_pullback_workflow_v2/af3_batch_*
evaluation/af3_pullback_workflow_v2/af3.bin.zst
