misc/.venv
# API keys
api_keys.txt
# CHTC files
*.out
*.err
*.log
# PDB file formats
*.cif
*.pdb
*.pyc
__pycache__
lib/__pycache__
scripts/residue_model_InitDynamicsEmbedding_propagate_*
scripts/torch_geometric.nn.conv.*
scripts/invariant_features_sheaf_model_InitDynamicsEmbedding_propagate_*
comparisons/gvp-pytorch/gvp-pytorch.tar.gz
