requests
pandas
numpy<2
beautifulsoup4
biopython
ruff
scikit-learn
matplotlib
wandb
huggingface_hub
tqdm
mdtraj
colabfold[alphafold]
atom3d
transformers==4.41.2
accelerate
h5py
jax==0.4.23
jaxlib==0.4.23
